<div id="main-head">
       <div class="container">
         <div class="row" data-scroll-reveal="enter from the left after .3s">
           <div class="row">
               <div class="col-lg-3  col-md-3 col-sm-12">
                 <!-- <img id="logo" src="/assets/logo.jpg" alt="PAAL logo"> -->
                 <p>The Petersburg Area Art League (PAAL) is a 501(c)3 non-profit organization, located in the Old Towne Petersburg Area. Our mission is to “empower the community through the visual arts,” via our three Gallery Spaces and Art Education Center.</p>
               </div>
               <div class="col-lg-9 col-md-9 col-sm-12">
                   <div id="carousel-slider" class="carousel slide" data-ride="carousel" data-scroll-reveal="enter from the right after .3s">
                       <div class="carousel-inner">
                           <div class="item active">
                               <img src="/assets/slider/PAAL-Front.jpg" alt="PAAL building front">
                           </div>
                           <div class="item">
                               <img src="/assets/slider/paalSlider.jpg" alt="art class">
                           </div>
                           <!-- <div class="item">
                               <img src="/assets/slider/paalWine.jpeg" alt="PAAL Logo with wine">
                           </div> -->
                       </div>
                       <!--INDICATORS-->
                       <ol class="carousel-indicators">
                           <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                           <li data-target="#carousel-slider" data-slide-to="1"></li>
                           <li data-target="#carousel-slider" data-slide-to="2"></li>
                       </ol>
                       <!--PREVIUS-NEXT BUTTONS-->
                       <!-- <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                           <i class="fa fa-angle-left fa-2x control-icon main-color"></i>
                       </a>
                       <a class="right carousel-control" href="#carousel-example" data-slide="next">
                           <i class="fa fa-angle-right fa-2x control-icon main-color"></i>
                       </a> -->
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div id="about">
        <div class="container">
            <!-- <div class="row text-center" data-scroll-reveal="enter from the bottom after .3s">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                  <div class="col-lg-3  col-md-3 col-sm-12">
                    <img id="logo" src="/assets/logo.jpg" alt="PAAL logo">
                  </div>
                    <p>The Petersburg Area Art League (PAAL) is a 501(c)3 non-profit organization, located in the Old Towne Petersburg Area. Our mission is to “empower the community through the visual arts,” via our three Gallery Spaces and Art Education Center.</p>
                </div>
            </div> -->
            <div class="row pad-low">
                <div class="col-lg-4 col-md-4 hover-color" data-scroll-reveal="enter from the left after .6s">
                    <div class="media">
                        <div class="pull-left">
                          <%= link_to membership_path do %>
                            <i class="fa fa-book fa-5x fa-stack icon-round"></i>
                          <% end %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Workshops & Classes</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" data-scroll-reveal="enter from the bottom after .9s">
                    <div class="media">
                        <div class="pull-left">
                          <%= link_to membership_path do %>
                            <i class="fa fa-paint-brush fa-5x fa-stack icon-round"></i>
                          <% end %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Featured Works:</h3>
                            <h4 class='media-subheading'>The Works of Joseph Craig English</h4>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" data-scroll-reveal="enter from the right after .6s">
                    <div class="media">
                        <div class="pull-left">
                          <%= link_to membership_path do %>
                            <i class="fa fa-glass fa-5x fa-stack icon-round"></i>
                          <% end %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Friday for the Arts:</h3>
                            <h4 class='media-subheading'>March</h4>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
