<!DOCTYPE html>
<html>
<head>
  <title>PAAL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500' rel='stylesheet' type='text/css'>
  <link href="assets/stylesheets/main.css" rel="stylesheet">
  <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet">
  <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="assets/stylesheets/prettyPhoto.css" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="home" class="navbar navbar-default move-me ">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                  <img src="assets/logo.jpg" class="navbar-brand-logo" alt="The Petersburg Area Art League">
              </a>
          </div>
          <div class="navbar-collapse collapse ">
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#about">ABOUT<i class="fa fa-bars"></i>
                          <span>Who We Are?</span>
                      </a>
                  </li>
                  <li class="dropdown">
                      <a href="#exhibits">EXHIBITS<i class="fa fa-bars"></i>
                          <span>What We Do?</span>
                      </a>
                  </li>
                  <li class="dropdown">
                      <a href="#events">EVENTS<i class="fa fa-bars"></i>
                          <span>Upcoming Events</span>
                      </a>
                  </li>
                  <li class="dropdown">
                      <a href="#classes">CLASSES & CAMPS<i class="fa fa-bars"></i>
                          <span>Reach Us Here</span>
                      </a>
                  </li>
                  <!-- <li class="dropdown">
                    <a href="#rentals">RENTALS<i class="fa fa-bars"></i>
                      <span>Facility Rentals</span>
                    </a>
                  </li> -->
                  <li class="dropdown">
                    <a href="#support">SUPPORT PAAL<i class="fa fa-bars"></i>
                      <span>How Can I Get Involved?</span>
                    </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="navbar-brand-name">
    <h6>The Petersburg Area Art League<h6>
  </div>

<%= yield %>

<div id="footer-sec">
  <div class="col-lg-4 col-md-4" id="about-ftr">
    <p>PAAL programming is partially supported by the Virginia Commission for the Arts and the National Endowment for the Arts, the Cameron Foundation, and CultureWorks.
    </p>
  </div>
    <!-- <div class="container"> -->
        <div class="row">
            <div class="col-lg-4 col-md-4" id="support-logo">
              <li><img src="assets/footer/VCA_Logo_Square.png" alt="Virginia Commission for the Arts Logo"></li>
              <li><img src="assets/footer/NEA-logo-color-space.png" alt="Art Works Logo"></li>
              <li><img src="assets/footer/CameronFound-Logo-space.png" alt="Cameron Foundation Logo"></li>
              <li><img src="assets/footer/CW-logo-centered.png" class="cultureWorks" alt="CultureWorks Logo"></li>
            </div>
          <div id='footer-contact'>
            <!-- <div class="col-lg-4 col-md-4"> -->
                <!-- <h3><span>Quick Donation</span></h3> -->
                <div>
                  <ul class="address">
                    <li><i class="fa fa-map-marker"></i>7 East Old Street | Petersburg, VA 23803</li>
                    <li><i class="fa fa-phone"></i>804.861.4611</li>
                    <li><i class="fa fa-envelope"></i><a href="mailto:galleryadmin@paalart.org">galleryadmin@paalart.org</a></li>
                  <ul>
                </div>
            <!-- </div> -->
          </div>
        </div>
    <!-- </div> -->
</div>
<div id="footer-end">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                2016 All Rights Reserved
            </div>
        </div>
    </div>
</div>
<!--./ footer-end End -->
  <div class="move-me">
<a href="#home" class="scrollup"><i class="fa fa-chevron-up"></i></a>
      </div>
 <!--END SCROLLUP LINK SECTION-->

</body>
</html>
